@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sheherzade";
  src: url("/fonts/sheherzade.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-arabic {
  font-family: "sheherzade", sans-serif;
}
