@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sheherzade";
  src: url("/fonts/sheherzade.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-arabic {
  font-family: "sheherzade", sans-serif;
}

.remove-arrow {
  -webkit-appearance: inherit;
  -moz-appearance: inherit;
  text-indent: 1px;
  text-overflow: "";
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
